html {
	background: linear-gradient(to bottom, var(--bgcolor), var(--fgcolor) 110%)
}

body {
	height: 100vh;
	min-height: 40rem;
}

header {
	z-index: 5;
	background: transparent;
}

article {
	width: 100%;
	max-width: unset;
	flex-grow: 1;
	
	margin-top: -7rem;
	padding-top: 5rem;
	
	text-align: center;
	
	color: var(--bgcolor);
	background: var(--fgcolor);
	clip-path: polygon(0% 0%, 0% 60%, 4% 82%, 8% 56%, 13% 97%, 21% 36%, 24% 77%, 28% 55%, 31% 85%, 36% 42%, 40% 72%, 44% 58%, 47% 92%, 53% 63%, 56% 80%, 58% 65%, 64% 92%, 66% 59%, 69% 88%, 76% 48%, 78% 92%, 87% 53%, 89% 99%, 92% 46%, 97% 63%, 100% 50%, 100% 0%);
}

::selection {
	background-color: var(--bgcolor);
	color: var(--fgcolor);
}

article h1, article h2 {
	color: var(--bgcolor);
	display: block;
}

article h1:after, article h2:after {
	border: none;
}

article h1 {
	font-size: 8em;
	z-index: -3;
	text-shadow: 0 0.05em #666, 6em -1.2em #433, 4em -0.8em #433, 2em -0.4em #433, -2em 0.4em #433, -4em 0.8em #433, -6em 1.2em #433, -8em 1.6em #433
}

article h2 {
	word-break: break-all;
}

@media (max-width: 80rem) {
	article {
		clip-path: polygon(0% 0%, 0% 60%, 4% 82%, 13% 50%, 20% 92%, 26% 56%, 35% 80%, 42% 61%, 47% 92%, 53% 63%, 58% 89%, 66% 59%, 71% 82%, 76% 48%, 88% 79%, 92% 36%, 97% 63%, 100% 50%, 100% 0%);
	}
}

@media (max-width: 40rem) {
	article {
		clip-path: polygon(0% 0%, 0% 60%, 7% 82%, 13% 60%, 20% 98%, 35% 68%, 45% 89%, 62% 62%, 69% 90%, 76% 57%, 87% 86%, 91% 64%, 94% 73%, 100% 50%, 100% 0%);
	}
}