/* @import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;

  --bgcolor: #151111;
  --fgcolor: #cbc;
  --fgaccent: #eee;
}

::selection {
  background-color: var(--fgcolor);
  color: var(--bgcolor);
}

.fade {
  opacity: 0.5;
}

html {
  margin: 0;
  background-color: var(--bgcolor);
  color: var(--fgcolor);
}

body {
  max-width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

:not(h1) > a {
  color: var(--bgcolor);
  background-color: var(--fgcolor);
  text-decoration: none;
  font-weight: bold;
  padding: 0.1em 0.3em;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--fgaccent);
  background-color: var(--bgcolor);
  text-decoration: underline;
}

a:active {
  color: red;
}

header {
  min-height: 170px;

  border: 10px solid var(--fgcolor);
  margin-top: 20px;
  padding: 20px;
  
  display: flex;
  align-items: center;
}

header h1 {
  color: var(--fgaccent);

  margin: 0;
  margin-left: 10px;

  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  font-size: 64px;
  line-height: 100%;
}

article {
  width: 900px;

  font-size: 20px;
  padding: 0 25px;
  line-height: 135%;
}

article h1 {
  font-size: 2.3em;
}

article h1, article h2 {
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

article h1, article h2, article h3 {
  color: var(--fgaccent);
}

article h1:after, article h2:after {
  content: "";
  border-top: 2px solid white;
}

article .byline {
  font-size: 75%;
}

article blockquote {
  border-left: 10px solid var(--fgcolor);
  padding-left: 30px;
  font-size: 80%;
  line-height: 110%;
}

article ul {
  list-style-type: '- ';
}

article ul li {
  margin-top: 15px;
}

@media (max-width: 1000px) {
  article {
    width: 100%;
  }

  header h1 {
    text-align: right;
    font-size: 40px;
  }
}

@media (max-width: 770px) {
  body {
    max-width: 90%;
  }

  article {
    font-size: 16px;
  }
}