@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Source+Serif+Pro:ital,wght@1,900&family=JetBrains+Mono&display=swap');

/* based off https://piccalil.li/blog/a-more-modern-css-reset/ */

*, *::before, *::after { box-sizing: border-box; }

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, ul, ol {
	margin-block-start: 0;
  margin-block-end: 0;
}

body {
	margin: 0; /* my addition */
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, button, input, label {
  line-height: 1.1;
}

/* fonts */

body {
	font-family: "Crimson Pro", sans-serif;
	font-weight: 400;
	font-size: 1.25rem; /* Crimson has a really tiny em square for some reason */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Source Serif Pro", serif;
	font-weight: 900;
	font-style: italic;
}
h1 { font-size: 3.5rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

code {
	font-family: "JetBrains Mono", monospace;
	font-size: 1rem;
}

/* colors */

:root {
	--fgcolor: black;
	--linkcolor: #950000;
	--linkactive: red;
	--linecolor: #cbbbbb;
	--linecolor50: color-mix(in srgb, var(--linecolor) 50%, transparent);
	
	--bgcolor: #fcf8f4;
	--bgaccentcolor: #f5eeeb;
	
	--blockbgcolor: color-mix(in srgb, var(--fgcolor) 5%, var(--bgcolor));
	--inlinecodebgcolor: color-mix(in srgb, var(--fgcolor) 5%, color-mix(in srgb, var(--linkactive) 3%, var(--bgcolor)));
}

html { background-color: var(--bgcolor); color: var(--fgcolor); }
a { color: var(--linkcolor); }
a:active { color: var(--linkactive); }
code:not([class^="language"]) { background-color: var(--inlinecodebgcolor); }
blockquote, pre, pre > code { background-color: var(--blockbgcolor); }
::selection { background-color: #521c1c; color: var(--bgcolor); }

.fade { opacity: 0.5; }

/* spaces */

body {
	padding-bottom: 4rem; /* TODO actual footer */
}

article {
	margin: 0 auto;
	width: min(85%, 50rem);
}

body > * + *, article > * + *, ol > * + *, ul > * + * {
	margin-top: var(--vertical-rhythm, 1em);
}

li {
	--vertical-rhythm: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
	--vertical-rhythm: 1.2em;
}

/* styles */

article h1::after, article h2::after, article h3::after, article h4::after, article h5::after, article h6::after {
	content: '';
	display: block;
	width: min(20em, 100%);
	height: 0.1em;
	background: linear-gradient(to right, var(--linecolor) 0%, var(--linecolor50) 100%);
	clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

article blockquote {
	padding: 0.25em 1.5em;
	position: relative;
}

article blockquote::before {
	content: "";
  display: block;
  position: absolute;
  margin-left: calc(-1.5em - 0.3em + 0.1px); /* roundoff error? */
  margin-top: -0.25em;
  width: 0.3em;
  height: 100%;
  background: linear-gradient(to bottom, var(--linecolor) 0%, var(--linecolor50) 100%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

article ul, article ol { padding-left: 2em; }
article ul { list-style: "- "; }

/* codeblock */
article > pre {
	display: block;
	padding: 0.5em;
	overflow-x: auto;
	line-height: 1.2;
	tab-size: 2;
	-moz-tab-size: 2;
}

/* inline code ummmmmm :flushed: umm this is annoying */
article code:not([class^="language"]) {
	padding: 0.1em 0.2em;
}

.youtube {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* page header */

header {
	display: flex;
	align-items: center;
	height: 9rem;
	background-color: var(--bgaccentcolor);
	padding: 0 0.5em;
	gap: 0.5em;
	
	--size: 8rem;
}

header h1, header h1 a {
	font: normal 900 clamp(20px, 5vw, 100px)/1 "JetBrains Mono", monospace;
	color: var(--fgcolor);
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block; /* required to fix line-height */
	line-height: 1;
	overflow-wrap: normal !important;
}

header nav {
	margin-left: auto;
	display: flex;
	gap: 0.5ch;
}

/* cool hr */

hr {
	border: none;
	overflow: visible;
	margin: 3em auto;
	width: 70%;
	height: 2px;
	background: linear-gradient(to right, transparent 0%, var(--linecolor) 50%, transparent 100%);
	text-align: center;
}

hr:after {
	content: "";
	display: inline-block;
	
	width: 48px;
	height: 24px;
	position: relative;
	top: -12px;
	
	background-color: var(--bgcolor);
	background-position: center;
	background-repeat: no-repeat;
}

hr.mlem:after { background-image: url("/img/tiny_dragnmlem.png"); }
hr.cool:after { background-image: url("/img/tiny_dragncool.png"); }
hr.think:after { background-image: url("/img/tiny_dragnthink.png"); }

/* "mobile" layout */
@media (max-width: 40rem) {
	article {
		width: 100%;
		padding: 0 1ch;
	}
	
	header h1, header h1 a {
		font-size: min(8vw, 1.4em);
		display: block;
		max-width: 1px;
	}
	
	/* try to avoid horizontal scroll at all costs (long words in eg codeblocks can do it */
	* { overflow-wrap: anywhere; }
	
	/* desktop layouts place list bullets in the gutter, but this falls off the page with a thin left margin */
	article ul { padding-left: 1em; }
}